{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</head>

<body>

    

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Supermercado</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    
    <div class = "container">
        <div class = "row">
            <div class="col md-4">
                <div class="card">
                    <div class="card-body">
                      <h2>Crear nuevo producto</h2>
                      
                      <form action="/registrarProducto/" method=POST enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                          Nombre: <input type="text" class="form/control" name="nombre_producto">
                        </div>
                        <div class="mb-3">
                          Marca: <input type="text" class="form/control" name="marca_producto">
                        </div>
                        <div class="mb-3">
                          Precio:  <input type="number" class="form/control" name="precio">
                        </div>
                        
                        <div class="mb-3">
                          <div class="mb-3">
                            Imagen del producto: <input type="file" class="form/control" name="imagen_producto">
                          </div>
                          
                          <input class="btn btn-primary" type="submit" class="form/control" value="Guardar">
                        </div>
                      </form>

                    </div>
                  </div>
            </div>    
            <div class="col-md-8">
                <h2>Pagina listar_productos</h2>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Número</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                      </tr>
                      
                      {%for a in producto%}

                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{a.nombre_producto}}</td>
                        <td>{{a.marca_producto}}</td>
                        <td>{{a.precio}}</td>
                        <td><a class="btn btn-primary" href="{% url 'editarProducto' a.id %}">Editar</a></td>
                        <td><a class="btn btn-danger" href="{% url 'eliminarProducto' a.id %}">Eliminar</a></td>
                      </tr>
                      {%endfor%}
                  </table>
            </div>
        </div>
    </div>

    

    

</body>

</html>